:root {

    --backGroundColorWhite: white;
    --color: black;
    --fontSize: 14px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--backGroundColorWhite);
}

body * {
    color: var(--color);
    font-size: var(--fontSize);
}



.header {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.innerContainer {

    display: flex;
    flex-direction: column;
    padding: 0 1rem;

}

.rolBox {
    padding: 20px;
}

.rols {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    border: 1px solid rgb(141, 137, 137);
}

.rols h3 {
    padding: 0px;
    margin: 5px;
    color: black;

}

.rols span {
    padding: 0px;
    margin: 5px;
    color: black;


}

.test {
    display: flex;
    height: 65svh;
}

.text {
    display: flex;
    width: 50%;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 10px;
    line-height: 1.5;

}

.questionBox {
    display: flex;
    width: 50%;
    overflow-y: scroll;
    flex-direction: column;
    padding-left: 10px;
    border-left: 1px solid;
    line-height: 2;
    position: relative;
}

.questionBox::-webkit-scrollbar {
    width: 10px;
}

.questionBox::-webkit-scrollbar-track {
    background: rgb(218, 218, 218);
    border-radius: 5px;
}

.questionBox::-webkit-scrollbar-thumb {
    background: rgb(85, 105, 114);
    border-radius: 5px;
}

.questionBox::-webkit-scrollbar-thumb:hover {
    background: cadetblue;
}

.text::-webkit-scrollbar {
    width: 10px;
}

.text::-webkit-scrollbar-track {
    background: rgb(218, 218, 218);
    border-radius: 5px;
}

.text::-webkit-scrollbar-thumb {
    background: rgb(85, 105, 114);
    border-radius: 5px;
}

.text::-webkit-scrollbar-thumb:hover {
    background: cadetblue;
}

.true-false {
    display: flex;
    flex-direction: column;
}

.questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.questionHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.questionInner {
    display: flex;
}

.markerQuestion {
    padding: .5rem;
}

.markerQuestion * {
    position: relative;
    z-index: -1;
}

.markerQuestion img {
    width: 20px;
    height: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputQuestions {
    display: flex;
    flex-direction: column;
}

.inputQuestionsInner {
    display: flex;

}

.pageintion {
    display: flex;
    justify-content: space-between;
    /* padding: 0 1rem 1rem 1rem; */
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    width: 100%;
    gap: 5px;
    padding-bottom: 1.5rem;
    background-color: white;
}


.pages {
    display: flex;
    align-items: start;
    gap: 5px;
    padding-bottom: 1rem;
    flex: 1;
    border-top: 2px solid gray;
}
.pages h2 , .pages>div *{
    padding-top: 10px !important;
}
.pages div.active{
    display: flex;
    align-items: start;
    gap: 5px;
}
.active h2{
    border-top: 2px solid green;
    margin: 0;
    padding: 0 1rem;
}
.active h2{
    flex-grow: .2;
}
.pages h2{
    margin: 0;
}
.pages.active{
    border-top: none !important ;
}
.qstNumberBox {
    border-top: 2px solid grey;
    cursor: default;
}
.qstNumber{
    padding: 2px;
}

.leftHeader h2 {
    color: red;
    font-weight: bolder;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.5rem;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show span{
    margin-left: 1rem; 

}
.active .show{
    flex: 1;
    border-top: 2px solid grey;

}
.active a {
    text-decoration: none;
    color: black;
}

#context-menu {
    position: absolute;
    display: none;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#highlightButton,
#removeButton,
.hidden {
    display: none;
}

.pass {
    border-top: 2px solid green;
}
.mark{
    position: relative;
}
.mark::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(icons8-bookmark-50\(2\).png);
    background-size: 100% 100%;
}

.nextprev {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    position: sticky;
    bottom: 0;
    right: 0;
}

.btn {
    background-color: var(--color);
    color: var(--backGroundColorWhite);
    padding: .5rem 1rem;
    border-radius: 50rem;
    text-decoration: none;
}